{
  "FtpHost": "CAMBIAR_POR_SERVIDOR_ORIGEN_IP_O_HOST",
  "FtpPort": 21,
  "FtpUser": "CAMBIAR_POR_USUARIO",
  "FtpPassword": "CAMBIAR_POR_CONTRASEÑA",
  "Protocol": "ftp",
  "RemoteDir": "/ruta/al/directorio/de/backups",
  "FilePrefix": "TOT_PrdCol_",
  "LocalDir": "C:\\kopiaz\\traer_mikano\\descargas",
  "ExtractDir": "C:\\kopiaz\\traer_mikano\\extraidos",
  "ArchiverPath": "C:\\kopiaz\\web\\programas_no_borrar\\Rar.exe",
  "DbHost": "127.0.0.1",
  "DbPort": 3306,
  "DbName": "CAMBIAR_POR_NOMBRE_BD_DESTINO",
  "DbUser": "CAMBIAR_POR_USUARIO_BD",
  "DbPassword": "CAMBIAR_POR_PASSWORD_BD",
  "SqlFilePrefix": "TOT_PrdCol_",
  "MysqlPath": "C:\\xampp\\mysql\\bin\\mysql.exe",
  "UseWinSCP": true,
  "WinScpPath": "C:\\Program Files (x86)\\WinSCP\\WinSCP.exe"
}
